numpy
pandas
pandocfilters
beautifulsoup4
bleach
CacheControl
certifi
contextlib2
datashape
decorator==4.2.1
distlib==0.2.5
distributed==1.21.2
dj-database-url==0.5.0
Django
django-bootstrap3
django-bootstrap4
django-registration-redux
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
gunicorn==19.7.1
Cython
h5py
heapdict==1.0.0
html5lib==0.9999999
IMDbPY==6.5
ipython==6.2.1
ipython-genutils==0.2.0
jsonschema==2.6.0
Keras==2.1.3
keras-tqdm==2.0.1
lxml==4.1.0
Markdown==2.6.9
MarkupSafe==0.23
matplotlib==2.1.2
msgpack-numpy==0.4.3
msgpack-python==0.4.8
nbconvert==6.3.0
nbformat==4.4.0
pathlib2==2.3.0
pathspec==0.5.5
pipenv==11.9.0
pkginfo==1.4.1
protobuf==3.5.2
psutil==5.4.0
psycopg2==2.7.4
py==1.4.34
py4j==0.10.6
python-dateutil==2.6.1
pytz==2017.2
PyYAML
pyzmq==17.0.0
requests
scikit-image==0.13.0
scikit-learn
scipy==1.0.1
tblib
tensorflow
Theano==1.0.1
tmdbsimple==2.2.0
tqdm==4.19.9
unicodecsv==0.14.1
urllib3
virtualenv==15.2.0
virtualenv-clone==0.3.0
websocket-client
Werkzeug